{% extends "base.html" %}
<!-- Loading static files including CSS, fonts and images -->
{% load static %}
<!-- Loading extra bag functions including subtotal calculation -->
{% load bag_extras %}
<!-- Navigation Bar Container -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<!-- SHOPPING BAG MAIN CONTENT -->
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <h2 class="site-logo">Shopping Bag</h2>
                <!-- Checkout Steps -->
                <div class="col-12 col-lg-6 offset-lg-3 my-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <div class="text-center small">
                                <div class="checkout-steps bg-dark text-white"><strong>1</strong></div>
                                <p class="mt-1"><strong>Bag</strong></p>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-angle-right fa-md"></i>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center small">
                                <div class="checkout-steps">2</div>
                                <p class="mt-1">Pay</p>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-angle-right fa-md"></i>
                        </li>
                        <li class="list-inline-item">
                            <div class="text-center small">
                                <div class="checkout-steps">3</div>
                                <p class="mt-1">Done</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="w-50">
            </div>
        </div>
        <!-- Statement for Number of Products in Bag -->
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    {% if product_count >= 1 %}
                        You have
                        <strong> {{ product_count }} </strong>
                        {% if product_count > 1 %}
                            items
                        {% else %}
                            item
                        {% endif %}
                        in your bag.
                    {% endif %}
                </p>
            </div>
        </div>
        <!-- Table of Bag Contents -->
        <div class="row">
            <div class="col-12">
                {% if bag_products %}
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-borderless">
                            <thead>
                                <tr class="text-uppercase">
                                    <th scope="col">Product:</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price:</th>
                                    <th scope="col">Quantity:</th>
                                    <th scope="col">Subtotal:</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_products %}
                                <tr>
                                    <td class="w-25 p-3">
                                    {% if item.product.image %}
                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ item.product.name }}">
                                    {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p>£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form action="{% url 'update_bag' item.item_id %}" method="post" class="form cached-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-sm btn-dark minus-one" data-item_id="{{ item.item_id }}" id="minus-one_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="quantity-amount form-control form-control-sm" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="quantity-amount_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-dark add-one" data-item_id="{{ item.item_id }}" id="add-one_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="py-3">
                                        <p>£{{ item.product.price | subtotal_calculation:item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <a class="text-decoration-none text-dark remove-product" id="remove_{{ item.item_id }}"><i class="fas fa-times-circle fa-lg"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                <!-- Total Summaries Including Delivery -->
                                <tr class="bg-white">
                                    <td colspan="6" class="pt-5 text-right">
                                        <h6><strong>Bag Total: £{{ total_price|floatformat:2 }}</strong></h6>
                                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if left_for_free_delivery > 0 %}
                                            <p class="mb-1 text-danger">
                                                Spend <strong>£{{ left_for_free_delivery }}</strong> more to get free delivery!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- Back and Continue Buttons -->
                                <tr>
                                    <td colspan="6" class="text-right bg-white">
                                        <a href="{% url 'shop' %}" class="btn btn-outline-dark btn-lg mr-2">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-dark btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <!-- Empty Bag Text -->
                    <div class="text-center mb-5">
                        <h4 class="text-center mb-4">Your bag is empty!</h4>
                        <!-- Go To Shop Button -->
                        <a href="{% url 'shop' %}" class="btn btn-dark btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>
                                Go To Shop
                            </span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- POSTLOAD JAVASCRIPT -->
{% block postload_js %}
    {{ block.super }}
    <!-- Script for Quantity Stepper Element -->
    {% include 'products/includes/item_quantity_script.html' %}
    <script type="text/javascript">
        // Quantity is updated as the user increments or decrements
        $('.quantity-amount').change(function() {
            var form = $(this).parents('.cached-form');
            form.submit();
        });
        $('.add-one').click(function() {
            var form = $(this).parents('.cached-form');
            form.submit();
        });
        $('.minus-one').click(function() {
            var form = $(this).parents('.cached-form');
            form.submit();
        });

        // From Code Institute Boutique Ado Tutorial
        /* Remove the product from the shopping bag and reloading 
        the page with the remaining items in the bag */
        $('.remove-product').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
            $.post(url, data).done(function() {
                location.reload();
            });
        });
    </script>
{% endblock %}