{% extends "base.html" %}
<!-- Loading static files including CSS, fonts and images -->
{% load static %}
<!-- Loading extra css for the profile app only -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
<!-- Navigation Bar Container -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- PROFILE PAGE MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h2 class="site-logo">My Profile</h2>
            <hr class="w-50">
        </div>
    </div>
    <!-- Update Profile Container -->
    <div class="row mb-4">
        <div class="col-12 col-lg-6">
            <form action="{% url 'profile' %}" method="POST" id="profile-form">
                {% csrf_token %}
                <!-- Contact Information -->
                <fieldset class="px-3 mb-4">
                    <legend class="fieldset-label text-dark w-auto">Contact Information</legend>
                    {{ form.default_full_name | as_crispy_field }}
                    {{ form.default_email_address | as_crispy_field }}
                    {{ form.default_phone_number | as_crispy_field }}
                </fieldset>
                <!-- Shipping Information -->
                <fieldset class="px-3">
                    <legend class="fieldset-label text-dark w-auto">Shipping Address</legend>
                    {{ form.default_country | as_crispy_field }}
                    {{ form.default_address_line1 | as_crispy_field }}
                    {{ form.default_address_line2 | as_crispy_field }}
                    {{ form.default_city_or_town | as_crispy_field }}
                    {{ form.default_postcode | as_crispy_field }}
                </fieldset>
                <!-- Update Profile Button -->
                <div class="px-3 float-right">
                    <button id="update-profile-button" class="btn btn-dark btn-lg">
                        <span class="text-uppercase"><i class="fas fa-save"></i> Update Details</span>
                    </button>
                </div>
            </form>
        </div>
        <!-- Order History Table -->
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
            <h4 class="mb-2 px-3">Order History</h4>
            <div class="px-3 table-responsive order-history-container">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th class="w-25">Date</th>
                            <th>Products</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_history %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:12 }}
                                    </a>
                                </td>
                                <td>{{ order.order_date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for product in order.each_line.all %}
                                            <li class="small">
                                                {{ product.quantity }} x {{ product.product.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postload_js %}
<!-- POSTLOAD JAVASCRIPT -->
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/default_country_field.js' %}"></script>
{% endblock %}