.user-profile-form-input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
    padding-left: 8px !important;
}

#id_default_country option:first-child {
    color: #aab7c4;
    padding-left: 8px !important;
}

.order-history-container {
    max-height: 591px; /* Height of Profile Form & Button combined */
    overflow-y: auto;
}