{% extends "base.html" %}
<!-- Navigation Bar Container -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- FAQS PAGE MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h2 class="site-logo">Frequently Asked Questions</h2>
            <hr class="w-50">
        </div>
    </div>
    <!-- FAQs Accordion -->
    <div class="row mb-5">
        <div class="col-12 offset-lg-3 col-lg-6">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="headingOne">
                        <h2 class="mb-0">
                            <a href="#collapseOne" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="accordion-title">Can products be shipped internationally?</span>
                                <span class="accordion-arrow"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Yes! Please fill in the checkout form correctly with your shipping details and we will send it to you within 2 weeks.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="headingTwo">
                        <h2 class="mb-0">
                            <a href="#collapseTwo" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="accordion-title">Do tutors teach internationally?</span>
                                <span class="accordion-arrow"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            All of our tutors are based in the United Kingdom so although we tutor students internationally, please note that all lessons will be held using the GMT (from October to March) and BST (from March to October) time zones. All times will be confirmed during your consultation as well as in an email after confirmation of payment for the lessons.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="headingThree">
                        <h2 class="mb-0">
                            <a href="#collapseThree" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="accordion-title">I bought the wrong product, what should I do?</span>
                                <span class="accordion-arrow"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            No problem, we understand that this can happen. Please contact us as soon as possible at info@studyhaven.com. Please ensure that the product is still in its new condition.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="headingFour">
                        <h2 class="mb-0">
                            <a href="#collapseFour" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="float-left">How do I refund a product?</span>
                                <span class="float-right"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            We are sorry that our product did not suit your needs. Please contact us within 7 days of purchase at info@studyhaven.com.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="headingFive">
                        <h2 class="mb-0">
                            <a href="#collapseFive" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span class="accordion-title">Do you have discount codes?</span>
                                <span class="accordion-arrow"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Yes but our discount codes are only offered to registered users who have opted in to our mailing list. <a href="{% url 'account_signup' %}">Register an account here!</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="headingSix">
                        <h2 class="mb-0">
                            <a href="#collapseSix" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <span class="accordion-title">How long will it take to receive my order after purchase?</span>
                                <span class="accordion-arrow"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Please allow 3-5 days for UK shipping. For International shipping, please allow up to 2 weeks. If you still haven't received your order past these durations, please contact us at info@studyhaven.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}