{% extends "base.html" %}
{% load static %}
<!-- Page Title Continuation -->
{% block extra_title %}FAQS{% endblock %}
<!-- Navigation Bar Container -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- FAQS PAGE MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h2 class="site-logo">Frequently Asked Questions</h2>
            <hr class="w-50">
        </div>
    </div>
    <!-- FAQs Accordion -->
    <div class="row mb-5">
        <div class="col-12 offset-lg-3 col-lg-6">
            <div class="accordion" id="accordionExample">
                {% for faq in faqs %}
                <div class="card">
                    <div class="card-header bg-brand2 site-brand-text" id="heading{{ faq.id }}">
                        <h2 class="mb-0">
                            <a href="#collapse{{ faq.id }}" class="w-100 btn collapsed btn-link text-decoration-none text-dark" role="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                                <span class="accordion-title">{{ faq.question }}</span>
                                <span class="accordion-arrow"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </h2>
                    </div>
                    <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}