/* ---------------------------------------------------- BASE STYLING & SPECIAL FONTS */

@font-face {
  font-family: lovelo;
  src: url(../../static/fonts/Lovelo-Black.otf);
}

body {
    font-family: 'Barlow', sans-serif;
}

.site-logo {
    font-family: lovelo;
    padding: 15px 0px 10px;
}

.logo-study-text {
    color: #ff5757;
}

.nav-bar {
    box-sizing: border-box;
}

#main-nav {
    text-transform: uppercase;
}

.nav-bar.logo-container,
.nav-bar.search-container,
.nav-bar.user-container {
    padding: 10px 0px;
}

.logo-container {
    box-sizing: border-box;
}

.search-container {
    box-sizing: border-box;
}

.search-container .input-group {
    justify-content: center;
}

.form-control.search-bar {
    width: 350px;
}

.user-container .list-inline {
    padding: 10px 0px;
    margin-bottom: 0px !important;
}

.menu-bar {
    background-color: #996515;
}

/* ---------------------------------------------------- HOME MAIN CAROUSEL */

.carousel-item {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* ---------------------------------------------------- TESTIMONIAL CAROUSEL */

.reviews-icon {
    font-size: 30px;
    margin-bottom: 20px;
}

#reviews-slides li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;
}

.checked {
    color: #FFA500;
}

#reviews-slides .carousel-indicators {
    bottom: -50px;
}

#reviews-slides .carousel-inner {
    margin-bottom: 50px;
}

#reviews-slides .carousel-item {
    padding: 0px 15px;
}

#reviews-slides p:first-of-type {
    font-family: 'Roboto', sans-serif;
}

.back-to-top {
    border: solid 1px #000;
    box-sizing: border-box;
    width: 150px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 15px;
}

.back-to-top a {
    color: #000;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #808080;
}

.back-to-top a:hover {
    color: #fff;
}

/* ---------------------------------------------------- MEDIA QUERIES */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .user-container .list-inline {
        text-align: right !important;
    }
}

@media (max-width: 414px) {
    .site-logo {
        font-size: larger;
    }

    .nav-link {
        padding: .5rem 0rem !important;
    }
}