@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* ---------------------------------------------------- BASE STYLING & SPECIAL FONTS */

@font-face {
  font-family: lovelo;
  src: url(../../static/fonts/Lovelo-Black.otf);
}

body {
    font-family: 'Barlow', sans-serif;
}

.site-logo {
    font-family: lovelo;
    padding: 15px 0px 10px;
}

.logo-study-text {
    color: #ff5757;
}

.dropdown-menu {
    margin-top: 0;
}

.nav-bar {
    box-sizing: border-box;
}

.shopping-basket-icon {
    position: relative;
}

#main-nav {
    text-transform: uppercase;
}

.nav-bar.logo-container,
.nav-bar.search-container,
.nav-bar.user-container {
    padding: 10px 0px;
}

.logo-container {
    box-sizing: border-box;
}

.search-container {
    box-sizing: border-box;
}

.search-container .input-group {
    justify-content: center;
}

.form-control.search-bar-web {
    width: 350px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Inspired by Code Institute - Boutique Ado */
.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 9999;
}

.toast-container {
    overflow: visible;
}

.info-toast {
    border: solid 2px #f5af4c;
}

.custom-bg-warning {
    background-color: #f5af4c;
}

.user-container .list-inline {
    padding: 10px 0px;
    margin-bottom: 0px !important;
}

footer {
    background-color: rgba(255, 87, 87, 0.9);
}

.footer-link {
    text-decoration: none;
    color: #fff !important;
}

.social-media {
    margin-right: 20px;
    text-decoration: none;
    color: #fff !important;
}

.social-media i {
    transition: transform 0.5s;
}

.social-media i:hover {
    transform: scale(1.5);
}

.btn-go {
    border: solid 1px #000;
    background-color: #ff5757;
    color: #fff;
}

/* ---------------------------------------------------- HOME MAIN CAROUSEL */

#header-slides .carousel-item {
    width: 100%;
    height: 100vh - 135px;
    overflow: hidden;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sales-intro {
    box-sizing: border-box;
    padding: 0px 10px 30px;
}

/* ---------------------------------------------------- HOME TESTIMONIAL CAROUSEL */

.testimonials-container {
    position: relative;
    box-sizing: border-box;
}

.reviews-icon {
    font-size: 30px;
    margin-bottom: 20px;
}

#reviews-slides li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;
}

.checked {
    color: #FFA500;
}

#reviews-slides .carousel-indicators {
    bottom: -50px;
}

#reviews-slides .carousel-inner {
    margin-bottom: 50px;
}

#reviews-slides .carousel-item {
    padding: 0px 15px;
}

#reviews-slides p:first-of-type {
    font-family: 'Roboto', sans-serif;
}

.back-to-top {
    border: solid 1px #000;
    box-sizing: border-box;
    width: 150px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 15px;
}

.back-to-top a {
    color: #000;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #808080;
}

.back-to-top a:hover {
    color: #fff;
}

/* ---------------------------------------------------- PRODUCTS TEMPLATE */

.tags:hover {
    background-color: #212529;
    color: #fff !important;
}

.view-all-link:hover {
    font-weight: 700;
}

.product-image-click {
    cursor: pointer;
}
/* ---------------------------------------------------- SHOPPING BAG TEMPLATE */

.checkout-steps {
    height: 30px;
    width: 30px;
    padding-top: .3em;
    border: solid 1px #000;
    align-items: center;
    border-radius: 50%;
}

.remove-product {
    cursor: pointer;
}

.preview-container {
    height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ---------------------------------------------------- MEDIA QUERIES */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding-top: 88px;
    }
}

@media (min-width: 992px) {
    .user-container .list-inline {
        text-align: right !important;
    }
    
    .header-container {
        padding-top: 135px;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }
}

@media (max-width: 414px) {
    .site-logo {
        font-size: larger;
    }

    .nav-link {
        padding: .5rem 0rem !important;
    }
}

/* ---------------------------------------------------- ALLAUTH FORM INNER CONTENT */
/* (General flow from Boutique Ado) */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* Bootstrap btn default */
	display: inline-block;
    font-weight: 400;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info colour hex */
}

.allauth-form-inner-content a.btn-outline-dark {
    color: #343a40;
}