/* ---------------------------------------------------- General Styling and Special Fonts */

@font-face {
  font-family: lovelo;
  src: url(../../static/fonts/Lovelo-Black.otf);
}

body {
    background-color: #ffc1b5;
    font-family: 'Roboto', sans-serif;
}

.site-logo {
    font-family: lovelo;
    padding: 15px 0px 10px;
}

.logo-study-text {
    color: #ff5757;
}

.nav-icon-text {
    font-size: small;
}

.nav-bar {
    box-sizing: border-box;
}

#main-nav {
    text-transform: uppercase;
}

.nav-bar.logo-container,
.nav-bar.search-container,
.nav-bar.user-container {
    padding: 10px 0px;
}

.logo-container {
    box-sizing: border-box;
}

.search-container {
    box-sizing: border-box;
}

.search-container .input-group {
    justify-content: center;
}

.user-container .list-inline {
    padding: 10px 0px;
    margin-bottom: 0px !important;
}

.menu-bar {
    background-color: #996515;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---------------------------------------------------- Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .user-container .list-inline {
        text-align: right !important;
}