<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
            <a class="nav-link mr-lg-4" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-lg-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">View All</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">11+ Workbooks</a>
                <a class="dropdown-item" href="#">KS2 Workbooks</a>
                <a class="dropdown-item" href="#">GCSE Workbooks</a>
                <a class="dropdown-item" href="#">A-Level Workbooks</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Stationery</a>
            </div>
        </li>
        <li class="nav-item mr-lg-4">
            <a class="nav-link" href="#">Tutoring</a>
        </li>
        <li class="nav-item mr-lg-4">
            <a class="nav-link" href="#">FAQs</a>
        </li>
    </ul>
</div>