<div class="collapse navbar-collapse" id="main-nav">
    {% with request.resolver_match.url_name as url_name %}
        <ul class="navbar-nav mx-auto">
            <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                <a class="nav-link mr-lg-4" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown d-sm-none {% if url_name == 'account' %}active{% endif %}">
                <a class="nav-link mr-lg-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Admin</a>
                        {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown {% if url_name == 'shop' %}active{% endif %}">
                <a class="nav-link mr-lg-4 dropdown-toggle" href="{% url 'shop' %}" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu d-lg-none" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'shop' %}">View All</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=11plus-workbooks">11+ Workbooks</a>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=ks2-workbooks">KS2 Workbooks</a>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=gcse-workbooks">GCSE Workbooks</a>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=a-level-workbooks">A-Level Workbooks</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=stationery">Stationery</a>
                </div>
            </li>
            <li class="nav-item mr-lg-4 {% if url_name == 'tutoring' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tutoring' %}">Tutoring</a>
            </li>
            <li class="nav-item mr-lg-4 {% if url_name == 'faqs' %}active{% endif %}">
                <a class="nav-link" href="#">FAQs</a>
            </li>
            <form action="{% url 'shop' %}" method="GET">
                <div class="input-group w-100 d-inline-flex d-md-none">
                    <div class="form-outline text-center">
                        <input type="text" name="q" class="form-control search-bar-mob" placeholder="Search our shop"/>
                    </div>
                    <div class="input-group-append d-inline-flex">
                        <button type="submit" class="btn btn-dark form-control">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </ul>
    {% endwith %}
</div>