{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- Calendly CSS -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
{% endblock %}
{% block extra_js %}
<!-- Calendly Script -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
{% endblock %}
<!-- Page Title Continuation -->
{% block extra_title %}Tutoring{% endblock %}
{% block page_header %}
<!-- Navigation Bar Container -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- 404 PAGE MAIN CONTENT -->
<div class="container error">
    <div class="row text-center">
        <div class="col-12 mt-3">
            <i class="far fa-frown-open fa-10x text-bag"></i>
            <h2 class="site-logo">Oops...</h2>
        </div>
    </div>
    <hr class="w-50">
    <div class="row mt-2 text-center">
        <div class="col-12">
            <p class="lead">Looks like you've missed your way! This page does not exist.</p>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-12 px-3">
            <a href="{% url 'shop' %}" class="btn btn-dark btn-lg">
                <span class="text-uppercase"><i class="fas fa-angle-left"></i> Go to Home</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}