<!-- Loading Static Files -->
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- META BLOCK -->
        {% block meta %}
            <!-- Support for older Internet Explorer versions -->
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <!-- Bootstrap Meta Tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        <!-- EXTRA META BLOCK -->
        {% block extra_meta %}
        {% endblock %}
        <!-- CORE CSS BLOCK -->
        {% block core_css %}
            <!-- Browser Tab Favicon -->
            <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
            <!-- CSS Stylesheet -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
        <!-- EXTRA CSS BLOCK -->
        {% block extra_css %}
        {% endblock %}
        <!-- CORE JAVASCRIPT BLOCK -->
        {% block core_js %}
            <!-- Font Awesome Kitcode -->
            <script src="https://kit.fontawesome.com/57e47c4f6b.js" crossorigin="anonymous"></script>
            <!-- Bootstrap Scripts -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
            </script>
            <!-- Stripe JS Library -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
        <!-- EXTRA JAVASCRIPT BLOCK -->
        {% block extra_js %}
        {% endblock %}
        <!-- Browser Tab Title -->
        <title>StudyHaven - {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <!-- NAVIGATION BAR -->
        <header class="container-fluid fixed-top nav-bar">
            <div class="row top-nav d-none d-lg-flex">
                <!-- StudyHaven logo -->
                <div class="col-12 col-lg-3 text-center text-lg-left d-none d-lg-block logo-container">
                    <a href="{% url 'home' %}" class="nav-link">
                        <h2 class="site-logo text-dark"><span class="logo-study-text">Study</span>Haven</h2>
                    </a>
                </div>
                <!-- Search Bar (hidden on xs, sm and m screen sizes) -->
                <div class="col-12 col-lg-6 d-none d-lg-block my-auto search-container">
                    <form action="{% url 'shop' %}" method="GET">
                        <div class="input-group w-100">
                            <div class="form-outline text-center">
                                <input type="text" name="q" class="form-control search-bar-web" placeholder="Search our shop"/>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark form-control">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 'My Account' & 'Shopping Bag' icons-->
                <div class="col-12 col-lg-3 d-none d-lg-block my-auto user-container">
                    <ul class="list-inline text-center ml-auto">
                        <li class="list-inline-item dropdown">
                            <a class="text-dark nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center my-account">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="mt-1 mb-0 small site-brand-text">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu site-brand-text bg-brand" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Admin</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-bag font-weight-bold{% else %}text-dark{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                                    <p class="my-0 site-brand-text">
                                        {% if grand_total %}
                                            <span class="normal-text">£</span>{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            <span class="normal-text">£</span>0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Responsive Navigation Bars -->
            <div class="row nav-bg-custom">
                <nav class="navbar navbar-expand-lg navbar-light w-100 pt-lg-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Top Mobile Navigation Bar -->
                    {% include 'includes/mobile-top-nav.html' %}
                    <!-- Lower Navigation Bar -->
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </header>
        <!-- Django Messages -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 20 %}
                            {% include 'includes/toasts/info_toast.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/success_toast.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/warning_toast.html' %}
                        {% else %}
                            {% include 'includes/toasts/error_toast.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        <!-- Page Header -->
        {% block page_header %}
        {% endblock %}
        <!-- Page Content -->
        {% block content %}
        {% endblock %}
        <!-- Page Footer -->
        <footer class="page-footer font-small pt-4">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <!-- Content -->
                        <h5 class="text-uppercase site-brand-text">Contact Us</h5>
                        <p>info@studyhaven.com</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <!-- Categories Footer Links -->
                        <h5 class="text-uppercase site-brand-text">Shop</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'shop' %}?category=11plus-workbooks" class="footer-link">11+ Workbooks</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?category=ks2-workbooks" class="footer-link">KS2 Workbooks</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?category=gcse-workbooks" class="footer-link">GCSE Workbooks</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?category=a-level-workbooks" class="footer-link">A-Level Workbooks</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?category=stationery" class="footer-link">Stationery</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <!-- Other Key Links -->
                        <h5 class="text-uppercase site-brand-text">Links</h5>
                        <ul class="list-unstyled">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li>
                                        <a href="{% url 'add_product' %}" class="footer-link">Product Admin</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'profile' %}" class="footer-link">My Profile</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}" class="footer-link">Logout</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'account_login' %}" class="footer-link">Login</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_signup' %}" class="footer-link">Register</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'faqs' %}" class="footer-link">FAQs</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Search Box Container -->
                <div class="row mt-4">
                    <div class="col-12 search-container">
                        <form action="{% url 'shop' %}" method="GET">
                            <div class="input-group w-100">
                                <div class="form-outline text-center d-inline-flex">
                                    <input type="text" name="q" class="form-control search-bar-web" id="searchbar" placeholder="Search our shop"/>
                                </div>
                                <div class="input-group-append d-inline-flex">
                                    <button type="submit" class="btn btn-dark form-control">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="text-center pt-5 pb-3">
                <h5 class="pb-2 site-brand-text">Follow Us!</h5>
                <a href="https://www.facebook.com/" target="_blank" class="social-media mx-3"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="social-media mr-3"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://twitter.com/" target="_blank" class="social-media mr-3"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.youtube.com/" target="_blank" class="social-media mr-3"><i class="fab fa-youtube fa-lg"></i></a>
            </div>
            <div class="footer-copyright text-center pb-3 small font-weight-bold">
                © StudyHaven 2021
            </div>
        </footer>
        {% block postload_js %}
        <!-- POSTLOAD JAVASCRIPT -->
            <script type="text/javascript">
                $('.toast').toast('show');
            </script>
        {% endblock %}
    </body>

</html>