<!-- Loading Static Files -->
{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% block meta %}
            <!-- Support for older Internet Explorer versions -->
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <!-- Bootstrap Meta Tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block core_css %}
            <!-- Browser Tab Favicon -->
            <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
            <!-- CSS Stylesheet -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block core_js %}
            <!-- Font Awesome Kitcode -->
            <script src="https://kit.fontawesome.com/57e47c4f6b.js" crossorigin="anonymous"></script>
            <!-- Bootstrap Scripts -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
            </script>
        {% endblock %}

        <!-- Extra JavaScript prior to page load -->
        {% block extra_js %}
        {% endblock %}

        <!-- Browser Tab Title -->
        <title>StudyHaven {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top nav-bar">
            <div class="row bg-white d-none d-lg-flex">
                <!-- StudyHaven logo -->
                <div class="col-12 col-lg-3 text-center text-lg-left d-none d-lg-block logo-container">
                    <a href="{% url 'home' %}" class="nav-link">
                        <h2 class="site-logo text-dark"><span class="logo-study-text">Study</span>Haven</h2>
                    </a>
                </div>
                <!-- Search Bar (hidden on xs, sm and m screen sizes) -->
                <div class="col-12 col-lg-6 d-none d-lg-block my-auto search-container">
                    <form action="{% url 'shop' %}" method="GET">
                        <div class="input-group w-100">
                            <div class="form-outline text-center">
                                <input type="text" name="q" class="form-control search-bar-web" placeholder="Search our shop"/>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark form-control">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 'My Account' & 'Shopping Bag' icons-->
                <div class="col-12 col-lg-3 d-none d-lg-block my-auto user-container">
                    <ul class="list-inline text-center ml-auto">
                        <li class="list-inline-item dropdown">
                            <a class="text-dark nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                        <a href="" class="dropdown-item">My Profile</a>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link" href="">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100 pt-lg-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-nav.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </header>

        <!-- Django Messages -->
        {% if messages %}
            <div class="message container">
            </div>
        {% endif %}

        <!-- Page Header -->
        {% block page_header %}
        {% endblock %}

        <!-- Page Content -->
        {% block content %}
        {% endblock %}

        <!-- Page Footer -->
        
        <!-- Footer -->
        <footer class="page-footer font-small pt-4 text-white">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">Contact Us</h5>
                        <p>info@studyhaven.com</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Shop</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="footer-link">11+ Workbooks</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">KS2 Workbooks</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">GCSE Workbooks</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">A-Level Workbooks</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">Stationery</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="footer-link">My Account</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">FAQs</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-link">Terms & Conditions</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                <div class="row">
                    <div class="col-12 search-container">
                    <form action="{% url 'shop' %}" method="GET">
                        <div class="input-group w-100">
                            <div class="form-outline text-center d-inline-flex">
                                <input type="text" name="q" class="form-control" placeholder="Search our shop"/>
                            </div>
                            <div class="input-group-append d-inline-flex">
                                <button type="submit" class="btn btn-dark form-control">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="text-center pt-5 pb-3">
                <h5 class="pb-2">Follow Us!</h5>
                <a href="#" class="social-media mx-3"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#" class="social-media mr-3"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#" class="social-media mr-3"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#" class="social-media mr-3"><i class="fab fa-youtube fa-lg"></i></a>
            </div>
            <div class="footer-copyright text-center pb-3">
                © StudyHaven 2021
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- JavaScript to load after the page contents -->
        {% block postload_js %}
        {% endblock %}
    </body>

</html>