{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <h2 class="site-logo">Shop</h2>
                {% if chosen_category == None %}
                    {% for c in all_categories %}
                        <a href="{% url 'shop' %}?category={{ c.name }}" class="text-decoration-none tag-link">
                            <span class="border border-dark tags text-dark small text-break p-1 mx-1">{{ c.shop_name }}</span>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for c in chosen_category %}
                        <a href="{% url 'shop' %}?category={{ c.name }}" class="text-decoration-none tag-link">
                            <span class="border border-dark tags text-dark small text-break p-1 mx-1">{{ c.shop_name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
                <hr class="w-50">
            </div>
        </div>
        <div class="row">
            <div class="col products-container offset-1 col-10">
                <div class="row mt-1 mb-3">
                    <div class="col-12 col-md-6">
                        <p class="text-center text-md-left text-muted">
                            {% if chosen_category or query != 'None_None' %}
                                <span class="mt-2">
                                    <a href="{% url 'shop' %}" class="text-decoration-none">
                                        <span class="text-dark small view-all-link text-break p-1 mr-1">View All</span>
                                    </a> | 
                                </span>
                            {% endif %}
                            <span class="text-dark small ml-2">{{ shop|length }} Products{% if query %} found for <strong>"{{ query }}"</strong>{% endif %}</span>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 my-auto d-flex justify-content-center justify-content-md-end">
                        <div class="sorting-container w-50">
                            <select id="sort-options" class="custom-select custom-select-sm border">
                                <option value="reset" {% if chosen_sort == 'None_None' %}selected{% endif %}>Featured</option>
                                <option value="category_asc" {% if chosen_sort == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if chosen_sort == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                <option value="name_asc" {% if chosen_sort == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if chosen_sort == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    {% for product in shop %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card h-100 mx-3">
                                <div class="card-image h-75">
                                {% if product.image %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                            </div>
                                <div class="card-body h-25">
                                    <p class="card-text">{{ product.name }}</p>
                                </div>
                                <div class="card-footer text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text font-weight-bold text-left">
                                                <span>£{{ product.price }}</span>
                                                {% if request.user.is_superuser %}
                                                    <span class="small float-right text-right">
                                                        <a href="{% url 'edit_product' product.id %}" class="text-info">Edit</a><br>
                                                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                                                    </span>
                                                {% endif %}
                                            </p>
                                            <p class="small">
                                                <a href="{% url 'shop' %}?category={{ product.category.name }}" class="text-muted">
                                                    <i class="fas fa-tag"></i> {{ product.category.shop_name }}
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-sm-none my-2">
                            <hr>
                        </div>
                        <!-- From the Code Institute Boutique Ado Tutorial -->
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-lg-none my-2">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none my-2">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block my-2">
                            <hr>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript">

        $(".tag-link:nth-of-type(2n)").add('.tag-link:last').after("<div class='d-md-none mt-2'></div>");

        $('#sort-options').change(function() {
            var sortOptions = $(this);
            var pageUrl = new URL(window.location);
            var optionVal = sortOptions.val();
            if(optionVal != "reset"){
                var sort = optionVal.split("_")[0];
                var method = optionVal.split("_")[1];
                pageUrl.searchParams.set("sort", sort);
                pageUrl.searchParams.set("method", method);
                window.location.replace(pageUrl);
            } else {
                pageUrl.searchParams.delete("sort");
                pageUrl.searchParams.delete("method");
                window.location.replace(pageUrl);
            }
        })
    </script>
{% endblock %}