{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Home Carousel -->
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-center">
                    <a href="{% url 'home' %}" class="mx-1">Home</a> >
                    <a href="{% url 'shop' %}" class="mx-1">Shop</a> >
                    <span class="mx-1">{{ product.name }}</span>
                </p>
                <hr class="w-50 mt-3 mb-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-lg-2 col-lg-4">
                <div class="product-image w-100">
                    {% if product.image %}
                        <button type="button" class="px-0" data-toggle="modal" data-target="#product-image">
                            <img class="card-img-top img-fluid" src="{{ product.image_url }}" data-target="#product-image" alt="{{ product.name }}">
                        </button>
                        <div id="product-image" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{ product.image_url }}" class="img-responsive w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button type="button" data-toggle="modal" data-target="#product-image">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                        </button>
                        <div id="product-image" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{ product.image_url }}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-info-container">
                    <h5 class="pt-2">{{ product.name }}</h5>
                    <p class="font-weight-bold text-left">£{{ product.price }}</p>
                    <p class="small">
                        <a href="{% url 'shop' %}?category={{ product.category.name }}" class="text-muted">
                            <i class="fas fa-tag"></i> {{ product.category.shop_name }}
                        </a>
                    </p>
                    <p class="mt-3">{{ product.description }}</p>
                    <form action="{% url 'add_to_bag' product.id %}" method="post" class="form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-dark" data-item_id="{{ product.id }}" id="minus_amount_{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="amount_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" data-item_id="{{ product.id }}" id="add_amount_{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 text-uppercase mb-5">
                                <a href="{% url 'shop' %}" class="btn btn-outline-dark">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-dark text-uppercase ml-2" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}