{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Home Carousel -->
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-3 text-center">
                <h2 class="site-logo">Shop</h2>
                <hr class="w-50">
            </div>
        </div>
        <div class="row">
            <div class="col products-container offset-1 col-10">
                <div class="row">

                </div>
                <div class="row">
                    {% for product in shop %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                {% if product.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text">{{ product.name }}</p>
                                </div>
                                <div class="card-footer text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text font-weight-bold text-left">£{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-sm-none mb-2">
                            <hr>
                        </div>
                        <!-- From the Code Institute Boutique Ado Tutorial -->
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-lg-none mb-2">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-2">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-2">
                            <hr>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}