<div role="alert" class="toast toast-container" data-autohide="false">
    <!-- TOAST HEADER -->
    <div class="toast-header bg-danger text-light">
        <strong class="mr-auto text-light">Error!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>
    </div>
    <!-- TOAST BODY -->
    <div class="toast-body text-dark border border-danger">
        <!-- Error Message -->
        {{ message }}
    </div>
</div>